default:
  image: docker:29.2.0-cli
  services:
    - docker:29.2.0-dind
  before_script:
    - docker info

variables:
  # When you use the dind service, you must instruct Docker to talk with
  # the daemon started inside of the service. The daemon is available
  # with a network connection instead of the default
  # /var/run/docker.sock socket. Docker 19.03 does this automatically
  # by setting the DOCKER_HOST in
  # https://github.com/docker-library/docker/blob/d45051476babc297257df490d22cbd806f1b11e4/19.03/docker-entrypoint.sh#L23-L29
  #
  # The 'docker' hostname is the alias of the service container as described at
  # https://docs.gitlab.com/ee/ci/services/#accessing-the-services.
  #
  # Specify to Docker where to create the certificates. Docker
  # creates them automatically on boot, and creates
  # `/certs/client` to share between the service and job
  # container, thanks to volume mount from config.toml
  DOCKER_TLS_CERTDIR: "/certs"

build:
  stage: build
  tags:
    - tls-docker-runner
    - arm64 # We need to use the arm64 runner to build arm64 images
  script:
    - apk update
    - apk add python3
    - echo "Building container $CI_REGISTRY_IMAGE"
    - python3 -m opencl_docker --image smartcycling.sysnet.ucsd.edu:45050/junkyard-computing/pixelfold-docker --tag junkyard --pocl_version v7.1 --output Dockerfile
    - echo "$JUNKYARD_PASSWORD" | docker login $CI_REGISTRY -u cse160-opencl-docker --password-stdin
    - docker build --no-cache --platform=linux/arm64 --tag $CI_REGISTRY_IMAGE:junkyard .
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
    - docker push --platform=linux/arm64 $CI_REGISTRY_IMAGE:junkyard