name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        docker: 
          - {image: ubuntu, image_tag: 24.04, platforms: linux/amd64, runs-on: ubuntu-24.04, pocl_version: v7.1, accelerator: cpu, architecture: x86_64, notes: ''}
          - {image: ubuntu, image_tag: 24.04, platforms: linux/arm64, runs-on: ubuntu-24.04-arm, pocl_version: v7.1, accelerator: cpu, architecture: arm64, notes: ''}
          - {image: ghcr.io/kastnerrg/qualcomm-docker-base, push_tag: qcomm, image_tag: latest, platforms: linux/arm64, runs-on: ubuntu-24.04-arm, pocl_version: v7.1, accelerator: gpu, architecture: adreno, notes: ''}
          - {image: nvidia/cuda, image_tag: 12.6.3-cudnn-devel-ubuntu24.04, push_tag: cuda, platforms: linux/amd64, runs-on: ubuntu-24.04, pocl_version: v7.1, accelerator: gpu, architecture: cuda, notes: ''}
          - {image: nvidia/cuda, image_tag: 12.6.3-cudnn-devel-ubuntu24.04, push_tag: dsmlp, platforms: linux/amd64, runs-on: ubuntu-24.04, pocl_version: v7.1, accelerator: gpu, architecture: cuda, notes: '-dsmlp'}
          - {image: ubuntu, image_tag: 22.04, push_tag: intel, platforms: linux/amd64, runs-on: ubuntu-22.04, pocl_version: v7.1, accelerator: gpu, architecture: intel, notes: ''}

    runs-on: ${{ matrix.docker.runs-on }}
    
    steps:
    - name: Docker/ENV cleanup Cleanup
      run: |
        docker image prune -a -f
        docker container prune -f
        sudo rm -rf /usr/local/lib/android
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /opt/ghc
        sudo rm -rf "/usr/local/share/boost"
        sudo rm -rf "$AGENT_TOOLSDIRECTORY"
    - 
      uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Generate Dockerfile
      run: |
        python -m opencl_docker --image ${{ matrix.docker.image }}:${{ matrix.docker.image_tag }} --tag ${{ matrix.docker.accelerator }}-${{ matrix.docker.architecture }}${{ matrix.docker.notes }} --pocl_version ${{ matrix.docker.pocl_version }} --output Dockerfile
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    -
      name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    -
      name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Dockerfile
        tags: ghcr.io/kastnerrg/cse160-opencl:${{ matrix.docker.accelerator }}-${{ matrix.docker.architecture }}${{ matrix.docker.notes }}
        platforms: ${{ matrix.docker.platforms }}
        push: ${{ github.event_name == 'push' }}
