name: Sync to Automaton

on:
  push:
    branches: [ "main" ]

jobs:
    sync:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout repository
          uses: actions/checkout@v4

        - name: Save ssh key
          run: |
            mkdir -p ~/.ssh
            chmod 700 ~/.ssh
            ls -lha ~
            echo "${{ secrets.AUTOMATON_SSH_KEY }}" > ~/.ssh/id_ed25519
            echo  >> ~/.ssh/id_ed25519
            chmod 600 ~/.ssh/id_ed25519
            ssh-keyscan -p 44422 smartcycling.sysnet.ucsd.edu >> ~/.ssh/known_hosts
            chmod 644 ~/.ssh/known_hosts
            ls -lha ~/.ssh

        - name: Sync files to Automaton server
          run: |
            git remote add downstream ssh://git@smartcycling.sysnet.ucsd.edu:44422/cse160/cse160-autograder.git
            git push -fu downstream main